name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

defaults:
 run:
  working-directory: ./server

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: server/go.mod
          check-latest: true
          cache: true
          cache-dependency-path: server/go.sum   
      - name: Install dependencies
        run: go get .
      - name: Build
        run: go build -v ./...
      - name: Test with the Go CLI
        run: go test